
.public-nav-layout1 .site-menu li a{font-size: 14px; font-weight: 500; line-height: 40px; color: #484848; height: 40px; padding: 0 20px; display: inline-block; *display:inline/*IE6、7*/; zoom:1;font-family:黑体;}
/* 公用导航区域 
-------------------------------------- */
.public-nav-layout1 { background-color: #E5EAEE; width: 100%; height: 40px; position: relative; z-index: 99;}
/*站点导航菜单*/
.public-nav-layout1 .site-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: left;}
.public-nav-layout1 .site-menu li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/;display:inline\0; *zoom: 1;}
.public-nav-layout1 .site-menu li a:hover { text-decoration: none; background-color: #B3B3B3;}
.public-nav-layout1 .site-menu li a.current { text-shadow: 1px 1px 0 rgba(0,0,0,0.2); background-color: #B22D00;}
/*分类导航菜单*/
.public-nav-layout1 .all-category { display: block; width: 210px; height: 40px; float: left; border: solid #B22D00; border-width: 0 1px;}
.public-nav-layout1 .all-category .title { line-height: 20px; height: 20px; padding: 10px;}
.public-nav-layout1 .all-category .title h3 a { font-weight: 600; color: #FFF; float: left; margin-left: 4px;}

.public-nav-layout1 .all-category .title i { font-size: 0px; line-height: 0; width: 0px; height: 0px; float: right; margin: 8px 4px 0 0; border-width: 5px; border-color: #FFF transparent transparent transparent; border-style: solid dashed dashed dashed;}
.public-nav-layout1 .all-category .category { display:none; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000'); background:rgba(0,0,0,0.1); width: 210px; padding: 0 1px 1px; margin-left: -1px;}
.public-nav-layout1 .all-category:hover .category { display:block;}
.public-nav-layout1 .category .menu { background-color: #FFF;}
.public-nav-layout1 .category .menu li { background-color: #FAFAFA; width: 210px; height: 59px; *float: left; *clear: left; border-top: solid 1px #FFF; position: relative; z-index: 1; zoom:1;}
.public-nav-layout1 .category .menu li.odd { background-color: #FAFAFA;}
.public-nav-layout1 .category .menu li.even { background-color: #F0F0F0;}
.public-nav-layout1 .category .menu li.hover { z-index: 2;}
.public-nav-layout1 .category .class { border-style: solid; border-width: 1px 0 1px 4px; border-color: transparent; display: block; width: 178px; height: 35px; padding: 12px 15px; position: absolute; z-index: 1; top: -1px; left: -1px;}
.public-nav-layout1 .category .hover .class { background-color: #FFF!important; border-color: #B22D00 transparent #B22D00 #B22D00; z-index: 2;}
.public-nav-layout1 .category .class span.ico { width: 16px; height: 16px; float: left; margin-right: 6px; float:left; filter:alpha(opacity=50)/*IE*/; -moz-opacity:0.5/*Moz+FF*/; opacity: 0.5;}
.public-nav-layout1 .category .menu li.hover .ico { filter:alpha(opacity=100)/*IE*/; -moz-opacity:1/*Moz+FF*/; opacity: 1;}
.public-nav-layout1 .category .class span.ico img { max-width: 16px; max-height: 16px; -webkit-filter: grayscale(100%)/*Webkit*/; -o-filter: grayscale(100%); filter: gray;}
.public-nav-layout1 .category .menu li.hover .ico img { -webkit-filter: grayscale(0)/*Webkit*/; -o-filter: grayscale(0); filter: none;}
.public-nav-layout1 .category .class h4 { font-weight: 600; line-height: 16px; color: #333; height: 16px; float: left;}
.public-nav-layout1 .category .class h4 a { color: #333;}
.public-nav-layout1 .category .menu li.hover .class h4 a { color: #B22D00;}
.public-nav-layout1 .category .class .recommend-class { line-height: 16px; width: 168px; height: 16px; float: left; clear: both; margin-top: 4px; overflow: hidden;}
.public-nav-layout1 .category .class .recommend-class a { color: #999; white-space: nowrap; margin-right: 6px;}
.public-nav-layout1 .category .class .arrow { background: url(../images/top_bg.png) no-repeat -150px -10px; width: 5px; height: 9px; float: right;}
.public-nav-layout1 .category .sub-class { background-color: #FFF; display: none; width: -29px; padding: 0 7px; border: solid 0px #BE000E; position: absolute; z-index: 1;top: -1px; left: 0px;}
.public-nav-layout1 .category li.hover .sub-class { display: block;}
.public-nav-layout1 .category .sub-class dl { width: 250px; margin: 8px; float: left;}
.public-nav-layout1 .category .sub-class dl dt { line-height: 24px; border-bottom: solid 2px #333;}
.public-nav-layout1 .category .sub-class dl dt h3 { font-weight: 600; color: #333;}
.public-nav-layout1 .category .sub-class dl dd { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 3px 0;}
.public-nav-layout1 .category .sub-class dl dd.brands-class { border-top: dotted 1px #333; margin-top: 4px;}
.public-nav-layout1 .category .sub-class dl dd a { font-family: Tahoma; font-size: 12px; line-height: 16px; color: #555; background: url(../images/top_bg.png) no-repeat right -24px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; height: 16px; padding-right: 7px; margin: 2px 7px 2px 0; *zoom:1/*IE6、7*/;}
.public-nav-layout1 .category .sub-class dl dd h5 { font-size: 12px; line-height: 20px; color: #333; margin: 4px 0 2px 0;}