body{background: #fff;}
.x_nav01{background-color: #ca1d31;padding: 15px 0;}
.x_pull_left li{padding: 5px 30px;background: #e05543;cursor: pointer;}
.x_pull_left li span{padding: 10px 0;color: #fff;border-bottom: 1px #e36656 solid;display: block;text-align: center;}
.x_pull_left li.x_active{background: #fff;color: #e05543;}
.x_pull_left li.x_active span{color: #e36656;border-bottom: none;}
.pull_top ul{overflow: hidden;zoom:1;border-bottom: 1px #cbcbcb solid;}
.pull_top ul li{float: left;padding: 4px 15px;}
.pull_top ul li.x_p_active{border-top: 3px #e05543 solid;border-left: 1px #e05543 solid;border-right: 1px #e05543 solid;color: #e05543;}
.x_pullw{width: 500px;padding-left: 20px;padding-top: 18px;background: #fff;padding-right: 20px;padding-bottom:60px;}
.x_pullw .form-control{width: 90px;}
.class_add{margin-top: 10px;}
.x_btn{float: right;margin-right: 25px;color: #fff;background-color: #e05543;padding-left: 40px;padding-right: 40px;margin-top: 20px;}
.x_btn:hover{color: #fff;}
.x_pullw .row label{margin-right: 4px;}
.x_nav01 >.container{background: url(../img/index/home.png) no-repeat center right;background-size: auto 252px;}

.list_li ul{overflow: hidden;zoom:1;border-bottom: 1px #cbcbcb solid;}
.list_li ul li{float: left;padding: 4px 15px;cursor: pointer;}
.list_li ul li.x_p_active{border-top: 3px #e05543 solid;border-left: 1px #e05543 solid;border-right: 1px #e05543 solid;color: #e05543;}
.x_pull_top{overflow: hidden;zoom:1;border-bottom: 1px #e05543 solid;margin-bottom: 20px;}
.x_pull_list{padding-top: 20px;background: #fff;padding-bottom: 20px;}
a.x_dong_list:hover{color: #000;}
.x_pull_top >span{font-size: 20px; padding-bottom: 2px; display: block;float: left;border-bottom: 2px #e05543 solid;}
.x_dong_list{padding: 0;margin: 0;border:1px #cccccc solid;padding: 5px;border-left: none;}
.x_dong_list:first-child{border-left: 1px #ccc solid;}
.x_dong_list >h3{font-size: 16px;font-weight: bold;overflow: hidden;zoom:1;margin-top: 10px;}
.x_price{float: left;}
.x_class{float: right;}
.x_red{color: #e05543;}
.x_green{color: #37c945;}
.x_class >*{display: block;}
.x_price >*{display: block;}
.x_price>span,.x_class>span{color: #999;}
.x_all_dong{margin: 0;}
.x_recommend{overflow: hidden;zoom:1;margin-top: 30px;}
.x_recommend >img{display: block;float: left;height: 145px;}
.recommend_list{width: 580px;margin: 0;float: left;overflow: hidden;}
.recommend_list img{width: 100%;}
.x_recommend >a{float: left;}
.x_recommend >a >img{width: 227px;}
.x_recommend img{border:1px #ccc solid;border-left: none;}
.col_right_list{overflow: hidden;zoom:1;padding: 7px 10px;border-bottom: 1px #ccc solid}
.col_top{float: left;margin-top: 17px;}
.col_top i{display: block;color: #5c5c5c;}
.col_top b{color: #e05543;}
.col_right_list img{float: right;}
.x_col_right{border:1px #ccc solid;border-bottom: none;}
.col_left{border-right: 1px #ccc solid;border-bottom: 1px #ccc solid;padding: 10px;margin: 0;}
.col_right_list.row{margin: 0;padding: 0;border-bottom: none;}
.col_left_x{margin-bottom: 5px;}
.col_left_x span{color: #999;}
.col_left b{color: #e05543;}
.col_left >span{color: #999;}
.item_row .col-xs-2,.item_row .col-sm-2,.item_row .col-md-2,.item_row .col-lg-2{width: 20%;border:1px #e6e6e6 solid;}
.carousel-control.right {right: 0;left: auto;background-image: none;background-image: none;background-image: none;background-image: none;background-repeat: repeat-x;}
.carousel-control.left {left: 0;right: auto;background-image: none;background-image: none;background-image: none;background-image: none;background-repeat: repeat-x;}
.carousel-control{width: 57px;}
.x_pull_container{overflow: hidden;zoom:1;}
.x_pull_container img{float: left;height: 307px;border:1px #e6e6e6 solid;}
.x_relist{padding: 20px;}
.x_relist span{font-size: 16px;}
.x_relist_row >div{text-align: center;}

