/* CSS Document */
#th_main{ height:auto; width:100%; display:inline-block;}

#th_left{ float:left; display:inline; width:200px; }
#th_left_l{ background-image:url(/images/home/tehuihuodong/leftbg.jpg); width:186px; height:auto;background-position:top; padding-top:10px;}
#th_left_c{ background-image:url(/images/home/tehuihuodong/leftbg.jpg); width:176px; padding:0 5px; height:auto; background-position:bottom; padding-bottom:10px;}

.th_left_title{ text-align:center; background-image:url(/images/home/tehuihuodong/leftline.jpg); background-position:bottom; background-repeat:no-repeat; height:40px; margin-top:10px;}
.th_left_cont{ padding:10px;}

.th_left_hd{ padding:5px 0; border-bottom:1px solid #efefef; height:85px;}
.th_left_hd_img{ border:1px solid #d8d8d8; width:70px; height:70px; overflow:hidden; margin-top:5px;}
.th_left_hd_ct{ width:85px;}
.th_left_hd_title{ margin-top:0px; height:20px; line-height:20px;}
.th_left_hd_title a{ color:#ed6b69; font-weight:bold;}

#th_right{ width:770px; height:auto; float:right; display:inline; }


#th_adv{ width:768px; height:200px; margin:auto; overflow:hidden; border:1px solid #e6e6e6}
#th_adv_btn{height:25px; line-height:25px; width:770px; margin:auto; background-color:#aaa7a5; text-align:center; overflow:hidden;}
#th_adv_btn ul{ margin:auto; display:inline-block; width:100%;}
#th_adv_btn ul li{ float:left; width:192px;}
#th_adv_btn ul li a{ display:block; color:#FFF;}
#th_adv_btn ul li a:hover{ background-color:#fe870f; font-weight:bold;}
#th_adv_btn ul li a.selected{ background:none; background-color:#fe870f; font-weight:bold; border:none; line-height:25px;}

#th_search{ background-image:url(/images/home/tehuihuodong/thsearchb.jpg); width:770px; height:105px; margin-top:10px;}
#th_search2{ background-image:url(/images/home/tehuihuodong/thsearchb2.jpg); width:770px; height:46px; margin-top:10px;}
#th_change_city{ padding-right:15px; background-image:url(/images/home/tehuihuodong/downlist.jpg); background-position:right bottom; background-repeat:no-repeat;}
#th_search_info{ padding-left:20px; padding-top:5px;}

#sel_city{position:absolute; width:180px; height:auto; background-color:#FFF; border:1px solid #ebebeb; margin-top:20px; display:none;}
#sel_city ul{ padding:5px; display:inline-block;}
#sel_city ul li{ padding:0 5px; float:left; white-space:nowrap; display:inline}

.th_textfield_left{  background-position:bottom left; height:23px; padding-left:5px; background-image:url(/images/home/tehuihuodong/inputbg.jpg); }
.th_textfield_right{  background-position: bottom right; height:23px; padding-right:5px; background-image:url(/images/home/tehuihuodong/inputbg.jpg) }
.th_textfield_right input{ background:none; border:none; margin-top:2px;}

.th_item{ width:375px; height:285px; margin-top:10px; }
.th_item_title{ font-size:14px; display:inline-block; width:100%; height:30px; line-height:30px;}
.th_item_title a{ font-size:10px;}
.th_item_cont{ height:255px; }
.th_item_img{ width:182px; border-top:2px solid #ed7300; height:255px; overflow:hidden; }
.th_item_img div{border:1px solid #ebebeb; height:253px;}
.th_item_c{ border-top:2px solid #d7d7d7; width:192px; height:254px; overflow:hidden; border-bottom:1px solid #ebebeb; border-right:1px solid #ebebeb;}
.th_item_c ul { padding:7px 0;}
.th_item_c ul li{ height:30px; line-height:30px; padding-left:10px; border-bottom:1px solid #ebebeb;}

#th_cate{ background-image:url(/images/home/tehuihuodong/sj_cate.jpg); width:190px; background-position:bottom; padding-bottom:10px; }
#th_cate_c{ background-image:url(/images/home/tehuihuodong/sj_cate.jpg); width:180px; padding:0 5px; background-position:top;padding-top:70px;}

#qy_cate{ background-image:url(/images/home/company/catebg.jpg); width:190px; background-position:bottom; padding-bottom:10px; }
#qy_cate_c{ background-image:url(/images/home/company/catebg.jpg); width:180px; padding:0 5px; background-position:top;padding-top:70px;}

#th_sh_cate li{ background-image:url(/images/home/tehuihuodong/line.jpg); background-position:bottom; background-repeat:no-repeat; padding:5px 20px; white-space:nowrap}
#th_sh_cate li a{ color:#ff9c20; font-size:14px; font-weight:bold; padding-left:20px; background-image:url(/images/home/tehuihuodong/before.jpg); background-repeat:no-repeat; background-position:left top;}

#th_sh_cate li ul{ display:inline-block}
#th_sh_cate li ul li{ background:none; padding:0 5px; float:left}
#th_sh_cate li ul li a{ color:#666; font-size:12px; font-weight:normal; padding:0; background:none;}

.th_rm_i{ width:165px; margin-left:10px; border-bottom:1px solid #ebebeb; background-image:url(/images/home/tehuihuodong/t_line.jpg); background-repeat:no-repeat; background-position:center center; margin-top:10px; height:25px; overflow:hidden;}
#th_sq{ background-image:url(/images/home/tehuihuodong/sqbg.jpg); background-position:bottom; padding-bottom:5px; width:770px; margin-top:10px;}
#th_sq_c{ background-image:url(/images/home/tehuihuodong/sqbg.jpg); background-position:top; padding-top:5px;}
#th_sq_ul{ display:inline-block; padding:10px;}
#th_sq_ul li{ float:left; padding:0 10px; white-space:nowrap; line-height:25px; height:25px;}
#th_sq_ul li a.selected2{
	color:#EE6635; text-decoration:underline;
}

.th_sq_item{ width:210px; height:auto; float:left; margin:15px 22px; overflow:hidden; display:inline; height:240px;}
.th_sq_item_img{ text-align:center;}
.th_sq_item_title{ text-align:center; height:20px; line-height:20px; margin-top:5px;}
.th_sq_item_title a{ color:#f06b33; font-weight:bold;}
.th_sq_item_cont{ margin-top:0px;}

.th_left_item2{ background-image:url(/images/home/tehuihuodong/leftbg2.jpg); width:186px; height:auto; padding-bottom:5px; background-position:bottom;}
.th_left_item2_c{ background-image:url(/images/home/tehuihuodong/leftbg2.jpg); width:184px; padding:5px 1px 0 1px; background-position:top;}
.th_left_item2_title{ height:25px; line-height:25px; padding-left:10px; padding-right:10px; color:#ff6600; font-size:14px; font-weight:bold;}
.th_left_item2_title a{ font-size:10px; font-weight:normal;}
.th_left_item2_c ul{ padding-top:10px; padding-left:10px; padding-right:10px;}
.th_left_item2_c ul li{ height:25px; line-height:25px; border-bottom:1px solid #ebebeb;}
.th_left_item2_c ul li a{ padding-left:10px; background-image:url(/images/home/tehuihuodong/point.jpg); background-repeat:no-repeat; background-position:left center;}
.th_left_item2_c ul li a:hover{ text-decoration:underline;}

#th_sh{ width:770px; background-image:url(/images/home/tehuihuodong/cbg.jpg); background-position:bottom; padding-bottom:5px; margin: auto;}
#th_sh_c{ width:100%; background-image:url(/images/home/tehuihuodong/cbg.jpg); background-position:top; padding-top:5px;}

.th_sh{ width:770px; background-image:url(/images/home/tehuihuodong/cbg.jpg); background-position:bottom; padding-bottom:5px;}
.th_sh_c{ width:100%; background-image:url(/images/home/tehuihuodong/cbg.jpg); background-position:top; padding-top:5px;}


.th_left_card{ text-align:center; margin-top:20px; padding-bottom:10px; border-bottom:1px solid #ebebeb; overflow:hidden;}
.th_left_card img{ width:115px; height:72px;}

#fw_cate{ background-image:url(/images/home/yinhangfw/catebg.jpg); width:185px; background-position:bottom; padding-bottom:5px;}
#fw_cate_c{ background-image:url(/images/home/yinhangfw/catebg.jpg); width:100%; background-position:top; padding-top:30px;}
#fw_cate_c div{ color:#ff9c20; font-size:14px; font-weight:bold; background-image:url(/images/home/yinhangfw/d1.jpg); background-repeat:no-repeat; background-position:45px;; padding-left:60px; height:35px; line-height:35px; border-bottom:1px solid #ebebeb;}
#fw_cate_c li{ height:25px; line-height:25px; border-bottom:1px solid #ebebeb;}
#fw_cate_c a{ color:#ff9c20; padding-left:70px; background-image:url(/images/home/yinhangfw/d2.jpg); background-position:60px 0; background-repeat:no-repeat}
#fw_links{ width:193px; height:205px; background-image:url(/images/home/yinhangfw/links-new.jpg);}
#fw_search{ width:788px; height:69px; background-image:url(/images/home/yinhangfw/searchbg.jpg); margin-top:20px;}

#fw_links1{ height:40px; margin-top:20px;}
#fw_links1 a{ display:block; width:100%; height:100%;}
#fw_links2{ height:40px; margin-top:10px;}
#fw_links2 a{ display:block; width:100%; height:100%;}
#fw_links3{ height:40px; margin-top:5px;}
#fw_links3 a{ display:block; width:100%; height:100%;}
#fw_links4{ height:40px; margin-top:5px;}
#fw_links4 a{ display:block; width:100%; height:100%;}


.fw_title{ height:34px; line-height:34px; padding-left:20px; margin-top:20px; color:#e66b16; font-weight:bold; font-size:14px; border:1px solid #e1dfdf; background-image:url(/images/home/yinhangfw/titlebg.jpg);}
#fw_dh{ display:inline-block;}
#fw_dh li{ float:left; width:125px; text-align:center; overflow:hidden; margin-left:3px; margin-top:10px; display:inline;}
.fw_wtitem{ width:332px; height:137px; margin-top:10px; overflow:hidden; padding:10px 20px; background-image:url(/images/home/yinhangfw/wtitem.jpg);}
.fw_wtitem_title{ height:25px; line-height:25px; color:#fb7614; font-size:14px; font-weight:bold; border-bottom:1px solid #d5d5d5;}
.fw_wtitem_title a{ font-size:12px; color:#333; padding-left:10px; background-image:url(/images/home/yinhangfw/d2.jpg); background-repeat:no-repeat; background-position:left;}
.fw_wtitem_cont{ margin-top:10px;}
.fw_wtitem_cont li{ height:25px; line-height:25px; padding-left:20px; background-image:url(/images/home/yinhangfw/g.jpg); background-repeat:no-repeat; background-position:left center;}
.fw_wtitem_cont .floatleft{ text-align:center; width:100px; }
.fw_wtitem_cont .floatright{ width:220px; }
.fw_wtitem_cont a:hover{ text-decoration:underline;}

#sl_left{
	width:202px;
	height:200px;
	padding-top:120px;
	background-image:url(/images/home/shanglvzhicheng/leftbg.jpg);
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 5px;
}
#sl_left a:hover{ text-decoration:underline;}
#sl_mid{ width:788px; margin-left:0px; margin-top:0px;}
#sl_right{ width:200px;}
#sl_tehui{ width:210px; height:154px; padding-top:50px; background-image:url(/images/home/shanglvzhicheng/tehuibg.jpg);}
#sl_tehui a:hover{ text-decoration:underline}
#sl_tehui li{ height:20px; line-height:20px; margin-left:10px; padding-left:10px; background-image:url(/images/home/shanglvzhicheng/before.jpg); background-repeat:no-repeat; background-position:left center;}
.sl_ritem{ width:198px; height:auto; background-image:url(/images/home/shanglvzhicheng/ritem.jpg); background-position:bottom; padding-bottom:1px; margin-top:10px;}
.sl_ritem_c{ width:100%; height:auto; background-image:url(/images/home/shanglvzhicheng/ritem.jpg); background-position:top; padding-top:1px;}
.sl_ritem_title{ height:20px; line-height:20px; text-align:center; color:#f36e33; font-size:14px;}
.sl_m_title{ color:#49307d; font-size:14px; font-weight:bold; height:25px; line-height:25px; margin-top:10px;}

.sl_input{ height:16px; border:1px solid #d8d8d8; background-color:#FFF;}
.sl_button{ width:80px; height:23px; line-height:23px; border:none; background:none; background-image:url(/images/home/shanglvzhicheng/btnbg.jpg); color:#FFF;}
#sl_searchs{background-color:#ededf9; padding:10px 20px;}
#sl_searchs td{ padding:5px;}

#sl_tj_tab{border:1px solid #e1dfdf;}
.sl_tab_title{height:31px; padding:0; margin:0;}
.sl_tab_title li{ float:left; height:31px; line-height:31px; width:279px; text-align:center; background-image:url(/images/home/shanglvzhicheng/tabbg.jpg); margin:0; padding:0; top:0; left:0; position:static; border:1px solid #fff; border-bottom:none; padding-left:0;}
.sl_tab_title li a{ color:#45328b; height:31px; font-size:14px; font-weight:bold; display:block; width:100%; padding:0; background:none; margin:0; top:0;  position:static;}
.sl_tab_title li.selected{ border:none; margin:0; height:31px; line-height:31px; top:0; left:0; padding:0; padding-left:0;}
.sl_tab_title li.selected a{ background-color:#FFF; color:#000; padding:0; background-image:none; border:none; margin:0; top:0; left:0;}
.sl_tab_container{ border:none; }
.sl_tab_container li{ padding:7px; width:auto; height:362px;}
#sl_left_tab{ height:33px; line-height:33px; margin-top:151px; width:177px; background-image:url(/images/home/shanglvzhicheng/lefttab.jpg);}
#sl_left_tab.seltwo{ background-position:bottom;}
#sl_left_tab div{ width:88px; text-align:center;}
#sl_left_tab div a{ color:#5e4580; font-size:14px; font-weight:bold; display:block; width:100%; height:100%;}
#sl_left_tab a.sela{ color:#000;}
#sl_left_tab_c li{ display:none; padding:2px; height:220px; overflow:hidden;}
#sl_left_tab_c li td{ padding:5px;}
#sl_zn{ padding-top:40px;}
#sl_zn li{ height:30px; line-height:30px; padding:0 20px; border-bottom:1px dashed #ebebeb; margin-left:1px;}
#sl_tstj{ padding:10px;} #sl_tstj select{ width:120px;} #sl_tstj td{ padding:5px;}
#sl_sptj li{ padding:0 10px;}
#sl_sptj_o{background-image:url(/images/home/shanglvzhicheng/obg.jpg); background-repeat:repeat-x;}
#sl_sptj_o .floatleft{width:50px; padding:10px; height:50px; overflow:hidden}
#sl_sptj_o .floatright{width:105px; padding:5px;}


#wk_cate{ width:190px; background-image:url(/images/home/woaiwoka/catebg.jpg); background-position:bottom; padding-bottom:10px;}
#wk_cate_c{ width:160px; padding:0 15px; background-image:url(/images/home/woaiwoka/catebg.jpg); background-position:top; padding-top:70px;}
#wk_cate_c div{ color:#ff9c20; font-size:14px; font-weight:bold;  height:35px; line-height:35px;background-image:url(/images/home/woaiwoka/line.jpg); background-repeat:no-repeat; background-position:bottom center; }
#wk_cate_c div a{background-image:url(/images/home/yinhangfw/d1.jpg); background-repeat:no-repeat; background-position:10px; padding-left:20px;}
#wk_cate_c li{ height:25px; line-height:25px; background-image:url(/images/home/woaiwoka/line.jpg); background-repeat:no-repeat; background-position:bottom center;}
#wk_cate_c a{ color:#ff9c20; padding-left:30px; background-image:url(/images/home/yinhangfw/d2.jpg); background-position:20px 0; background-repeat:no-repeat}
#wk_cate_c li.subtitle{ text-align:left; padding-left:20px; color:#aaa; font-weight:bold;}

#wk_zengz{ width:186px; background-image:url(/images/home/woaiwoka/zengzhibg.jpg); background-position:bottom; padding-bottom:5px;}
#wk_zengz_c{ width:186px; background-image:url(/images/home/woaiwoka/zengzhibg.jpg); background-position:top; padding-top:60px;}

.wk_zengz_item{ width:160px; margin:0 13px; margin-top:10px; border-bottom:1px solid #ebebeb; padding-bottom:10px;}
.wk_zengz_item .floatleft{ width:110px; margin-top:5px;}
.wk_zengz_item .floatright a{ font-size:10px;}
.wk_zengz_item .floatright a:hover{ text-decoration:underline;}

#wk_hot{ width:730px; height:185px; padding:10px 20px; background-image:url(/images/home/woaiwoka/hotbg.jpg); margin-top:10px; overflow:hidden}

.wf_hot_item{ width:170px; float:left; margin-left:10px; display:inline;}
.wf_hot_item_title{ color:#ff6600; font-weight:bold; height:20px; line-height:20px; margin-top:5px;}

.wf_kj_item{ margin-left:60px; margin-top:20px;}


.th_list_item{ width:370px; height:220px; border:1px solid #ebebeb; margin-top:20px; background-color:#ffa12b;}
.th_list_item_n{ height:195px; background-color:#fff; padding:10px; }
.th_list_item_title{ color:#000; font-weight:bold;}
.th_list_item_i{ margin-top:10px;}
.th_list_item_f{ margin-top:15px; margin-left:12px;}
.th_list_item_s{background-image:url(/images/home/tehuihuodong/sbg.jpg); width:80px; height:60px; padding-top:20px; font-weight:bold; line-height:20px; color:#FFF; text-align:center;}
.th_list_item_show{ margin-top:10px;}
.th_btn_item{ height:24px; background-image:url(/images/home/tehuihuodong/tbbg.jpg); padding-left:15px; width:auto;}
.th_btn_item a{ display:block; height:24px; padding-right:15px; background-image:url(/images/home/tehuihuodong/tbbg.jpg); float:left; width:auto; background-position:right; line-height:24px;}
.th_btn_item a:hover{ text-decoration:underline;}
.th_n_img{ padding:10px; border:1px solid #ebebeb; overflow:hidden}
#th_n_info{ font-size:14px; font-weight:bold; width:260px;}
#th_n_info table td{ padding:10px 0; vertical-align:top}
.wk_list_item{ width:170px; height:190px; margin-left:10px;}
.wk_list_item_img{ width:170px; text-align:center; height:100px; overflow:hidden;}
.wk_list_item_c{ padding:0 15px;}
.wk_list_item_title{ margin-top:5px; }
#wf_tool_left{ width:186px; height:280px; background-image:url(/images/home/woaiwoka/lefttoolbg.jpg);}
#wf_tool_left_title{ height:20px; background-image:url(/images/home/woaiwoka/tooltab.jpg); background-repeat:no-repeat; background-position:center top;}
#wf_tool_left_title.twost{ background-position:bottom center;}
#wf_tool_left_title a{ display:block; width:90px; height:20px; float:left;}
#wf_tool_left ul{ padding:25px; display:none;}
#wf_tool_left ul li{ height:25px; line-height:25px;}
#wf_tool_left ul li a:hover{ text-decoration:underline;}

.wk_lr{ width:775px; height:166px; padding:20px 0; background-image:url(/images/home/woaiwoka/lrbg.jpg);}
.wk_lr_btn{ width:20px; height:100%;}
.wk_lr_btn a{ display:block; width:100%; height:100%}

#vip_kv{ background-image:url(/images/home/woaiwoka/kvbg.jpg); width:980px; height:500px; background-repeat:no-repeat; background-position:bottom left; overflow:hidden;}
#vip_c{ background-image:url(/images/home/woaiwoka/vipbg.jpg); width:980px; height:340px; }
#vip_kv_k{ height:400px; overflow:hidden; width:100%;}
#vip_kv_k div{ float:left; display:inline; overflow:hidden;}
#vip_kv_btn{ margin-top:0px; padding:0px 0px;}
#vip_kv_btn li{ margin-left:20px; width:282px; overflow:hidden;}

#vip_kv_btn li{
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
#vip_kv_btn li.xselected{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}
#vip_c_cate{width:160px; height:239px; margin-left:20px; margin-top:43px; padding:10px;}
#vip_c_cate li{ background-image:url(/images/home/woaiwoka/cateline.jpg); background-repeat:no-repeat; background-position:bottom center; line-height:21px;}
#vip_c_cate li a{ padding-left:20px; background-image:url(/images/home/woaiwoka/catebefore.jpg); background-repeat:no-repeat; background-position:10px center; color:#ff9c20; font-weight:bold;}
#vip_c_cate li ul{ display:none;}
#vip_c_cate li ul li{ background:none; line-height:20px;}
#vip_c_cate li ul li a{ background:none; font-weight:normal; color:#ccc;}


.qy_item_img{padding:10px; border:1px solid #ebebeb; width:210px; height:150px; overflow:hidden;}
.qy_item_info{width:470px; margin-right:10px;}
.qy_item_list ul{ display:inline-block; margin-top:10px;}
.qy_item_list li{ height:25px; line-height:25px; border-bottom:1px solid #ebebeb; width:340px; float:left; white-space:nowrap; margin-left:20px;}
.qy_item_info_title{ font-size:14px; font-weight:bold; color:#333; text-align:center; height:35px; border-bottom:1px solid #ebebeb;}
.qy_item_info_des{ margin-top:15px; line-height:22px; text-align:justify}

.vip_item1{ width:243px; height:104px; background-image:url(/images/home/woaiwoka/vipbg3.jpg); margin-left:10px;}
.vip_item2{ width:243px; height:104px; background-image:url(/images/home/woaiwoka/vipbg2.jpg); margin-left:10px; margin-top:20px;}
.vip_item1_img{ width:77px; height:77px; border:2px solid #ebebeb; float:left; display:inline; margin-left:20px; margin-top:15px;}
.vip_item1_info{ float:right; display:inline; width:120px; height:auto; margin-top:15px; margin-right:10px;}
.vip_item1_info_title{ font-size:14px; color:#3f3f3f; font-weight:bold;}
.vip_item1_info_title a{ font-size:10px;}
.vip_item1_info_c{ margin-top:5px;}
.vip_item1_info_c a:hover{ text-decoration:underline;}
.vip_item1_info_c a{ color:#9d9b9b; }

.qy_n{ width:770px; background-image:url(/images/home/company/neiyebg.jpg); background-position:bottom; padding-bottom:10px; background-repeat:no-repeat;}
.qy_n_c{ width:770px; padding:0 0px; background-image:url(/images/home/company/neiyebg.jpg); background-position:top; padding-top:10px; background-repeat:no-repeat;}
.qy_n_title{ color:#f06b32; font-size:14px; font-weight:bold; text-align:center; height:70px; line-height:30px; border-bottom:1px solid #ebebeb;}
.qy_n_date{ text-align:center; font-size:12px; color:#333; font-weight:normal}
.qy_n_cont{ padding:20px 10px; line-height:22px; color:#333;}

.th_list_ul li{ height:30px; line-height:30px; margin:0 20px; border-bottom:1px solid #ebebeb;}
.th_list_ul li a{ padding-left:10px; background-image:url(/images/home/tehuihuodong/point.jpg); background-repeat:no-repeat; background-position:left center;}

.th_sq_block{ margin:0px 20px;}
.th_sq_block_title{ height:30px; line-height:30px; font-weight:bold; color:#000; border-bottom:1px dashed #ebebeb;}
.th_sq_block ul{ display:inline-block; margin-top:10px;}
.th_sq_block ul li{ float:left; display:inline; padding:0 15px; height:30px; white-space:nowrap;}

.th_xgsh{ margin-top:20px;}
.th_xgsh ul{ display:inline-block;}
.th_xgsh li{ float:left; display:block; margin-left:25px; text-align:center;}
.th_xgshname{ height:30px; line-height:30px;}


.common_title{margin-top:0px; height:20px; line-height:20px; margin-top:20px; background-image:url(/images/home/xiazaizhongxin/before_title.jpg); background-repeat:no-repeat; background-position:left center;}
.common_title .floatleft{ color:#dd7b4f; font-size:18px; font-weight:bold; padding-left:30px; font-family:'微软雅黑'}

.down_items{ display:inline-block;}
.down_items li{ float:left; display:inline; margin-left:30px; width:120px; overflow:hidden; margin-top:20px;}
.down_item_img{ height:150px; text-align:center}
.down_item_title{ height:25px; text-align:center}

.fw_list_items li{ height: 110px; padding:5px 10px; border-bottom:1px solid #ebebeb;}
.fw_list_item_title{ font-size:14px; font-weight:bold; color:#000; height:30px; padding-left:20px; background-image:url(/images/home/yinhangfw/g.jpg); background-repeat:no-repeat; background-position:left 5px;}
.fw_list_item_title a{font-size:14px; font-weight:bold; color:#000;}
.fw_list_item_des{ padding: 5px 20px;}
.fw_list_item_des a:hover{ text-decoration:underline;}

#vip_infolayer{height:300px; width:800px; top:20px; left:20px; position:absolute; z-index:9999999; text-align:center;}
#vip_infolayer_cont{background-color:#fff; height:2px; top:50%; width:800px; position:relative; margin-top:-1px; border:10px solid #eee;}
#vip_infolayer_cont_title{ height:15px; overflow:hidden;}
#vip_infolayer_cont_title div{padding:3px; float:right; display:inline;}
#vip_infolayer_cont_title div a{display:block; width:11px; height:11px; background-image:url(/images/home/woaiwoka/close.jpg);}
#vip_infolayer_cont_cont{ padding:10px;}


.sh_list_item{ padding:20px 0; margin-top:10px; border-bottom:1px solid #ebebeb;}
.sh_list_item_l{ width:210px; margin-left:20px;}
.sh_list_item_l div{ margin-top:10px;}
.sh_list_item_r{ width:500px;}
.sh_list_item_r table th{ width:80px; vertical-align:top; color:#333;}
.sh_list_item_r table th,.sh_list_item_r table td{ padding:5px; color:#333;}

#sh_neiye table th{ width:80px; vertical-align:top}


#vip_n_main{ background-color:#e6e6e6; background-image:url(/images/home/woaiwoka/vip_n_mbg.jpg);  background-position:top; background-repeat:repeat-x; margin-top:20px; padding-bottom:20px;}
#vip_n_left{ width:200px;}
#vip_n_right{ width:760px; }
#vip_n_c_cate{ width:183px; height:260px; background-image:url(/images/home/woaiwoka/vip_n_bg.jpg); margin-left:20px;}
#vip_n_c_cate #vip_c_cate{  margin:0;}
#vip_n_cont{ background-image:url(/images/home/woaiwoka/vip_n_cbg.jpg); width:734px; background-position:top; padding-top:10px;}
#vip_n_cont_r{background-image:url(/images/home/woaiwoka/vip_n_cbg.jpg); width:100%; background-position:bottom; padding-bottom:10px;}
#sl_vip_n_cont_r{background:url(/images/home/woaiwoka/vip_n_cbg_1.jpg) bottom center no-repeat; width:100%; padding-bottom:10px;}

.vip_common_title{margin-top:0px; height:20px; line-height:20px; margin-top:20px; background-image:url(/images/home/woaiwoka/beforetitle.jpg); background-repeat:no-repeat; background-position:left center;}
.vip_common_title .floatleft{ color:#dd7b4f; font-size:18px; font-weight:bold; padding-left:30px; font-family:'微软雅黑'}

.vip_n_cont_title{ font-size:14px; color:#000; font-weight:bold; margin-top:20px;}
.vip_n_cont_c{ padding:10px 20px; color:#333;}

.vip_n_cont_struct{ background-image:url(/images/home/woaiwoka/vip_n_clbg.jpg); width:639px; background-position:top; padding-top:10px; margin-top:20px;}
.vip_n_cont_struct_r{ background-image:url(/images/home/woaiwoka/vip_n_clbg.jpg); width:599px; padding:0 20px; background-position:bottom; padding-bottom:10px; color:#666;}

.vip_n_cont_c table{ border-collapse:separate; border-spacing:1px; margin-top:20px;}
.vip_n_cont_c table td,.vip_n_cont_c table th{ border:1px solid #ebebeb; padding:5px 10px;}
.vip_n_cont_c table thead th{ background-color:#ebebeb; font-size:14px;}
.vip_n_cont_c table tfoot td{ background:#ebebeb;}

.vip_n_ct{padding:2px; border:1px solid #ccc;}
.vip_n_cn{width:520px; margin-left:20px;}
.bordercard{ border:#FFF solid 0px; text-align:center;}


#th_left_t{background-image:url(/images/home/tehuihuodong/leftbg.jpg); height:auto; background-position:top; width:186px; height:auto; padding-top:10px;}
#th_left_b{background-image:url(/images/home/tehuihuodong/leftbg.jpg); width:186px; height:auto; background-position:bottom; padding-bottom:10px;}

.th_rm_is{ width:166px; margin:0px 10px 4px; border-bottom:1px dashed #adadad; padding-bottom:2px;}
.area_name{ display:block; font-family:"微软雅黑"; font-size:18px; color:#015ab0; font-weight:bold;  }
.float_left{ display:block; float:left; margin-right:8px; }
.float_right{ display:block; height:38px; line-height:38px;}
.float_left img{ display:block;}
.area_names { width:166px; margin:0 0 10px 10px; border-bottom:#f1f1f1 1px solid; padding-bottom:15px; }
.area_names span { font-size:13px; color:#a7a7a7; margin-right:4px; margin-right:3px;}
.area_names2 { width:166px; margin:0 0 10px 10px;}
.area_names2 span { font-size:13px; color:#a7a7a7; margin-right:4px; margin-right:3px;}
